vendor
vendor/puppet
vendor/openbolt
vendor/hiera
vendor/facter
vendor/bundle
vendor/enterprise-dist
vendor/puppet-agent
bin/mar*
output
references_output
\#*
.#*
log
.DS_Store
pdf_output
pdf_source
puppetdocs-latest.tar.gz*
.bundle
externalsources
_cache
.*.swo
.*.swp
.*.un~
*.orig
.idea
.jekyll-metadata
.byebug_history
link_test_results.yaml
link_report.txt
.yardoc
puppet-docs-build.log
source/.jekyll-cache/
.ruby-version
Gemfile.lock
_site

# Version collections and _latest symlinks are created at build time from
# docs/_<product>/ and docs/_<product>_versions/ (lib/openvox_docs/versioned_docs.rb)
docs/_*_[0-9]*x/
docs/_*_latest
