<h3 id="meanwhile-in-the-puppet-labs-docs">Elsewhere in the Docs:</h3>

{% md %}

## Products

* [Puppet]({{puppet}})
* [Puppet Server]({{puppetserver}})
* [PuppetDB]({{puppetdb}})
* [Facter]({{facter}})
* [Hiera)]({{hiera}})

## Other

* [Puppet Docs Front Page](https://docs.voxpupuli.org/)
* [Security Announcements](/security/)
* [Using the Puppet Forge](/forge/)
* [Resource Type Reference]({{puppet}}/type.html)
* [Puppet Community Guidelines](/community/community_guidelines.html)
* [Glossary of Puppet Terms](/references/glossary.html)

{% endmd %}
